body {
    color: white;
    background: black;
    margin: 0px;
}

header{
    border-bottom:solid 1px red;
    padding: 20px;
    font-size: 19px;
    color: darkred;
}

section {
    background:#0a467b;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center;
}

.chamda-texto{
    margin-right: 5%;
}
